# Django settings
DEBUG=True
SECRET_KEY=add-your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost,*

# Database Configuration (For production/PostgreSQL example)
# DATABASE_URL=postgres://user:password@localhost:5432/mai_english_db

# CORS Configuration
# CORS_ALLOWED_ORIGINS=https://mai-english.com,https://admin.mai-english.com

# Integrations API Keys
# WHATSAPP_API_KEY=your_whatsapp_api_key_here
# LINE_MESSAGING_API_KEY=your_line_api_key_here
# ZOOM_CLIENT_ID=your_zoom_client_id_here
# ZOOM_CLIENT_SECRET=your_zoom_client_secret_here
