# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static and Media files
staticfiles/
media/
assets/

# Virtual Environment
venv/
env/
ENV/
.env

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# C packages
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Celery stuff
celerybeat-schedule
celerybeat.pid

# mypy
.mypy_cache/
